.main{
    width: 60%;
    background-color: rgb(104, 138, 138);
    margin-top: 150px;
    margin-left: 20%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(128, 193, 204);
  border-radius: 4px;
  box-sizing: border-box;   
}

input[type=submit] {
  width: 100%;
  background-color: rgb(2, 15, 87);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #070707;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
